/* CSS Document */

.comida{
	width:40%;
	float:left;
	border;thin solid red;
	
	
	}
.comida a{
	text-decoration:none;
	color:black;

	background:lightsalmon;}
		
.comida a:hover{
	background:white;
	
}
	a{color:black;}

.custom-corners .ui-bar {
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}



.custom-corners .ui-body {
  border-top-width: 0;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}


/* Polyfill */
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
	display: none;
}

progress,                          /* Firefox  */ 
progress[role][aria-valuenow] {    /* Polyfill */
   background: #ffeeee !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: #ffeeee;
}

/* IE10 */
progress {
    color: green;
}

/* Firefox */
progress::-moz-progress-bar { 
    background: green;	
}

/* Chrome */
progress::-webkit-progress-value {
    background: green;
}

/* Polyfill */
progress[aria-valuenow]:before  {
    background: green;
}


.alert {
background: lightsalmon;
padding: 10px;
color: black;
font-weight: bold;
text-shadow: none;
}
p{
	text-align: center;
}
p img{
	width:80px;}
