<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "co.perrocallejero.perrocallejero"
    version   = "1.2.0">

<name>Perro callejero</name>
<icon src="images/darmano.jpg"/>
<gap:splash src="images/darmano.jpg" gap:platform="android" gap:density="ldpi"/>
<gap:splash src="images/darmano.jpg" gap:platform="android" gap:density="mdpi"/>
<gap:splash src="images/darmano.jpg" gap:platform="android" gap:density="hdpi"/>
<gap:splash src="images/darmano.jpg" gap:platform="android" gap:density="xhdpi"/>
<gap:plugin name="com.purplebrain.adbuddiz.sdk" source="npm" />
<description>
Simulador de la vida de un perro adoptado de la calle.
</description>
<feature name="Media">
    <param name="android-package" value="org.apache.cordova.media.AudioHandler" />
</feature>
    <platform name="android">
        <preference name="Fullscreen" value="true" />
    </platform>
<author href="https://www.perrocallejero.co" email="info@perrocallejero.co">
hugo andres torres
</author>
<preference name="permissions" value="none"/>
     
</widget>


